body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
}

#contactBarBackground {
    background-color: #bfdff9;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

#contactBar {
    margin: 0px 20% 0px 20%;
    padding: 5px 0px 5px 0px;
    text-align: center;
    font-size: large;
}

nav {
    background-color: #7c862b;
    color: #000;
    padding: 5px 0px 5px 0px;
}

#nav {
    margin: 0px 20% 0px 20%;
    padding: 5px 5px;
    text-align: center;
    font-size: large;
}

#bannerImage {
    background-image: url(/src/main/resources/images/banner-image.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
    border-radius: 8px;
}

#bannerText {
    text-align: center;
    font-size: 40pt;
    font-weight: bolder;
    padding: 90px 0;
}

#spotlightTrip {
    margin: 10px 20% 10px 20%;
    height: auto;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-areas:
        "spotlightTripImage spotlightTripText";
}

#spotlightTripImage {
    grid-area: "spotlightTripImage";
    background-image: url(/src/main/resources/images/farris-wheel-image.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

#spotlightTripText {
    grid-area: "spotlightTripText";
    padding: 0px 10px 0px 10px;
}

#clientReviews {
    margin: 0px 0px 0px 0px;
    background-color: #7c862b;
    height: 500px;
}


#contactUsForm {
    margin: 10px 20% 10px 20%;
    height: 400px;
}

footer {
    margin: 0px 0px 0px 0px;
    background-color: #7c862b;
    color: #000;
}

#footer {
    margin: 0px 20% 0px 20%;
    padding: 5px 5px;
    text-align: center;
}

#jacEntFontLightSmall {
    font-size: 20pt;
    font-weight: lighter;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

@media only screen and (max-width: 800px) {
    #spotlightTrip {
        margin: 10px 20% 0px 20%;
        height: auto;
        display: grid;
        grid-template-rows: 35% 1fr;
        grid-template-areas:
            "spotlightTripImage spotlightTripText";
    }

    #spotlightTripImage {
        grid-area: "spotlightTripImage";
    }

    #spotlightTripText {
        grid-area: "spotlightTripText";
    }
}