body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFF;
}

#contactBarBackground {
    background-color: #bfdff9;
    text-align: center;
    padding: 5px 0 5px 0;
}

#contactBar {
    margin: 0 20% 0 20%;
    padding: 5px 0 5px 0;
    text-align: center;
    font-size: large;
}

nav {
    background-color: #7c862b;
    color: #000;
    padding: 5px 0 5px 0;
}

#nav {
    margin: 0 20% 0 20%;
    padding: 5px 5px;
    text-align: center;
    font-size: large;
}

.dropWrapper {
    position: relative;
    display: inline-block;
}

.dropButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #7c862b;
    /*padding: 16px;*/
    font-size: large;
    border: none;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: #7c862b;
    min-width: 300px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropContent a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropContent a:hover {
    background-color: #7c862b;
}

.dropWrapper:hover .dropContent {
    display: block;
}

.dropWrapper:hover .dropButton {
    background-color: #7c862b;
}

.dropButton:hover {
    color: #FFF;
}

#bannerImage {
    background-image: url(/images/banner-image.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 400px;
}

#bannerText {
    text-align: center;
    font-size: 40pt;
    font-weight: bolder;
    padding: 90px 0;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7c862b;
}

#spotlightTrip {
    margin: 10px 20% 10px 20%;
    height: auto;
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-areas:
        "spotlightTripImage spotlightTripText";
}

#spotlightTripImage {
    grid-area: "spotlightTripImage";
    background-image: url(/images/farris-wheel-image.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

#spotlightTripText {
    grid-area: "spotlightTripText";
    padding: 20px 10px 20px 10px;
}

#islandHoppingBkgdClr {
    background-color: #7c862b;
}

#islandHoppingMargin {
    margin: 10px 20% 10px 20%;
}

#islandHopping {
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-areas: 
    "islandHoppingImage whatIsIslandHoppingText";
    column-gap: 20px;
    height: 250px;
    padding: 10px 0 10px 0;
}

#islandHoppingImage {
    grid-area: "islandHoppingImage";
    background-image: url(/images/farris-wheel-image.JPG);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

#whatIsIslandHoppingText {
    grid-area: "whatIsIslandHoppingText";
    padding: 20px 10px 20px 10px;
}

#contactUsWrapper {
    margin: 20px 20% 20px 20%;
    height: 400px;
}

#contactUsForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "contactUsFormClm1 contactUsFormClm2";
    column-gap: 20px;
}

#contactUsFormClm1 {
    grid-area: "contactUsFormClm1";
}

#contactUsFormClm2 {
    grid-area: "contactUsFormClm2";
}

textarea {
    width: 100%;
    height: 150px;
}

footer {
    margin: 0 0 0 0;
    background-color: #7c862b;
    color: #000;
}

#footer {
    margin: 0 20% 0 20%;
    padding: 5px 5px;
    text-align: center;
}

p {
    padding: 5px 0 5px 0;
    text-align: justify;
}

h2,
h3,
h4 {
    margin: 0 0 0 0;
    text-align: center;
    display: block;
}

h1 {
    margin: 0;
    text-align: center;
}

#jacEntFontBoldSmall {
    font-size: 20pt;
    font-weight: bold;
}

#centerCapBoldText {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #FFF;
}

input {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #spotlightTrip {
        margin: 10px 20% 0 20%;
        height: auto;
        display: grid;
        grid-template-rows: 35% 1fr;
        grid-template-areas:
            "spotlightTripImage spotlightTripText";
    }

    #spotlightTripImage {
        grid-area: "spotlightTripImage";
    }

    #spotlightTripText {
        grid-area: "spotlightTripText";
    }
}