<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docutment Title</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
<header>
    <h1>About Us</h1>
    <span> The JAC Enterprises Team</span>
</header>

<main>
    <nav>
        <div id="nav"><a href="">Home</a> | <a href="">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton"><a href="">Adventures</a></button>
                <div class="dropContent">
                    <a href="#">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="#">Search by Island Chain</a>
                </div>
            </div>
            | <a href="#spotlightTrip">Spotlight Trip</a> | <a href="#contactUsForm">Contact</a></div>
    </nav>
    <section id="WelcomeToTheTeam">
        <h2>Welcome To The Team</h2>
        <p>What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum
            passages, and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
        </p>

        <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
            id est laborum."

        </p>
    </section>

    <section id="OurSuccess">
        <h2>Our tem has</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </section>

    <section id="HowToGetInTouch">
        <h2>How to get in Touch</h2>
        <p></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    </section>
</main>

</body>
</html>