<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/generalTemplateStylesheet.css">
    <title>All Continents Template</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">
            Call toll-free <a href="tel:18885555555">1-888-555-5555</a> or
            <a href="/#contactUsForm">CONTACT US</a>
        </div>
    </div>
    <nav>
        <div id="nav">
            <a href="/">Home</a> | <a href="/about-us">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton">Adventures</button>
                <div class="dropContent">
                    <a href="/continent/">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="/island-chains/">Search by Island Chain</a>
                </div>
            </div>
                        | <a href="/#spotlightTrip">Spotlight Trip</a> |
             <a href="/#contactUsForm">Contact</a>
         </div>
     </nav>
<div id="bannerImage">
    <div id="bannerText">
        <span id="jacEntFontBoldSmall">JAC Enterprises</span><br>Meet The Team
    </div>
</div>
<div class="blueBgd">
    <div class="profileWrapper">
        <div class="profileRight">
            <div class="profileImage"><img class="profileMemoji"
                                           src="/images/memoji-madison-mitchell.png"
                                           alt="Madison Mitchell">
            </div>
            <div class="profileBlurb">
                <h2>Madison Mitchell</h2>
                <p> A highly motivated Software Developer with 9 years experience working in the Technology
                    Industry. Currently working for a Fortune 500 Tech Company as a four-consecutive-year Triple
                    Exceeding Expectations Tech Advisor that is dedicated to producing high quality products and
                    results. Naturally curious with a strong desire to grow skill set. Excels in resolving
                    challenges encountered in the workplace with innovative solutions and passionate about creating
                    high quality, creative products. An avid reader, particularly fantasy novels, and enjoys working
                    on side projects to continue to challenge oneself as well as create handy products around the
                    house, like a smart mirror that tells the time, current events and weather updates.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="whiteBgd">
    <div class="profileWrapper">
        <div class="profileLeft">
            <div class="profileBlurb">
                <h2>Martel Barkley</h2>
                <p>
                    Software developer with 8+ years of experience in developing creative
                    solutions to solving complex problems . Well versed in a variety of
                    programming languages that include Java, JavaScript, HTML and CSS. Skilled
                    in agile processes, backend and frontend development, and creating applications
                    using various APIs and automation testing.
                </p>
            </div>
            <div class="profileImage"><img class="profileMemoji"
                                           src="/images/memoji-martel-barkley.png"
                                           alt="Martel Barkley">
            </div>
        </div>
    </div>
</div>
<div class="blueBgd">
    <div class="profileWrapper">
        <div class="profileRight">
            <div class="profileImage"><img class="profileBitmoji"
                                           src="/images/bitmoji-aaron-dormer.png"
                                           alt="Aaron Dormer">
            </div>
            <div class="profileBlurb">
                <h2>Aaron Dormer</h2>
                <p>
                    I am a hardworking, loyal, and open-minded problem solver who sees things clearly and
                    appreciates creative outlets like music, both as and instrumentalist and record collector, and
                    cooking. I have been a member of the workforce since I was a teenager, which equates to 30+
                    years, with a background in office administration, management, and HR with a specialty in
                    staffing and new hire onboarding. I’ve also been involved in fixed asset management and
                    safety/maintenance coordination. I’m currently enrolled in a software development bootcamp with
                    a focus in Java in order to expand my talents and toolkit so I can be as valuable as possible to
                    an organization.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="whiteBgd">
    <div class="profileWrapper">
        <div class="profileLeft">
            <div class="profileBlurb">
                <h2>Michael Johnson</h2>
                <p>
                    Michael Johnson is a Junior Software Developer as well as life long creative. My whole life I’ve
                    drawn, painted, and composed music. The past three years I’ve built and designed furniture.
                    Software Developing is a new and exciting way for me to implement my desire to bring creations
                    to life. I have strong business acumen and have built interpersonal skill over the last five
                    years. I study and choose my projects carefully to test my abilities. After long hours of
                    research I make sure my projects will involve the implementation of a skill that’s new to me but
                    is a signature technique of an elite professional in the field. The dexterity of being a
                    Software Developer is what I enjoy the most. I’m constantly pushing myself to learn new things.
                    Books, audio books, and subscriptions like Udemy are wales I draw from daily. The drive to grow
                    and inspire. other to grow is deeply written in the code of my personality.
                </p>
            </div>
            <div class="profileImage"><img class="profileMemoji"
                                           src="/images/bitmojiMichaelJohnson.png"
                                           alt="Michael Johnson">
            </div>
        </div>
    </div>
</div>
<div class="blueBgd">
    <div class="profileWrapper">
        <div class="profileRight">
            <div class="profileImage"><img class="profileBitmoji"
                                           src="/images/cameron-memoji.png"
                                           alt="Cameron Stephens">
            </div>
            <div class="profileBlurb">
                <h2>Cameron Stephens</h2>
                <p>
                    Versatile software developer with a combined 10 years of experience in both film production and
                    customer-support. Routinely excels at overcoming daily obstacles with adaptive mindset and remarkable
                    attention to detail. Thrives in challenging environments with critical thinking skills. Adept
                    development skills in Test-Driven Design, object oriented programing, HTML & CSS, and other crucial
                    full-stack competencies. Brings pride and passion to every task they undertake. Enjoys table-top rpgs
                    and Minecraft in their free time.

                </p>
            </div>
        </div>
    </div>
</div>
<!--    <section id="OurSuccess">-->
<!--        <h2>Our tem has</h2>-->
<!--        <p>-->
<!--            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod-->
<!--            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,-->
<!--            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo-->
<!--            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse-->
<!--            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat-->
<!--            non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--        </p>-->
<!--    </section>-->
<!--    <section id="HowToGetInTouch">-->
<!--        <h2>How to get in Touch</h2>-->
<!--        <p></p>-->
<!--        <ul>-->
<!--            <li></li>-->
<!--            <li></li>-->
<!--            <li></li>-->
<!--        </ul>-->
<!--    </section>-->
<footer>
    <div id="footer">JAC Enterprises &copy; 2021</div>
</footer>
</body>
</html>
