<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/generalTemplateStylesheet.css">
    <title>All Continents Template</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">Call toll-free <a href="">1-888-555-5555</a> or <a href="">CONTACT US</a></div>
    </div>
    <nav>
        <div id="nav"><a href="">Home</a> | <a href="">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton"><a href="">Adventures</a></button>
                <div class="dropContent">
                    <a href="#">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="#">Search by Island Chain</a>
                </div>
            </div>
            | <a href="#spotlightTrip">Spotlight Trip</a> | <a href="#contactUsForm">Contact</a></div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText"><span id="jacEntFontLightSmall">JAC Enterprises</span><br>Search for Your Destination by Continent
        </div>
    </div>
    <div id="allContinentsInformation">
        <div id="allContinentsMap">
                         <iframe
                        src="https://api.mapbox.com/styles/v1/missmadisonrose/ckxpgq7sq0iqt14piwva3j92k.html?title=false&access_token=pk.eyJ1IjoibWlzc21hZGlzb25yb3NlIiwiYSI6ImNreHBmd2JpZjd0ZGwydXEzMTZrMThjcXQifQ.Ubq6kw0wIFtQMKZunE0gyg&zoomwheel=false#5.53/21.039/-157.84"
                        title="Monochrome">
                        </iframe>
        </div>
        <div id="allContinentsSummary">
            <p>Lorem ipsum dolor sit amet. Est quasi praesentium aut galisum quibusdam 33 iure quasi ab tenetur
                veniam et ited officiis quaerat eos tempore distinctio.</p>

            <p>Est quis nobis At quidem natus est iste magni? Id debitis cumque sit praesentium reprehenderit sed
                maxime voluptatem eum quia eveniet est dolorem consequatur hic autem sint.</p>

            <p>Hic consequatur ducimus ut temporibus nemo ab atque neque. Ab sunt repellendus et blanditiis
                voluptatem a veniam sunt ut consequatur quos. Ea ipsum iusto qui totam quia eos ipsam distinctio id
                voluptatum cumque dolorem animi et voluptate assumenda aut iste repudiandae. Eum nesciunt quasi ut
                nihil fugit ad ipsa optio aut amet explicabo est quisquam minus ut galisum mollitia id accusamus
                fugit.</p>
            </div>
    </div>
    <div id="allContinentsOnTerraFirma">
     <div id="listAllContinentsOnTerraFirma">
         <h2>North America</h2>
        <ul>
            <li>Bass Islands</li>
        </ul>
         </div>
    </div>

    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>

</html>