<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/generalTemplateStylesheet.css">
    <title>JAC Enterprises Island Hopping Adventures</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">
            Call toll-free <a href="tel:18885555555">1-888-555-5555</a> or
            <a href="/#contactUsForm">CONTACT US</a>
        </div>
    </div>
    <nav>
        <div id="nav">
            <a href="/">Home</a> | <a href="/about-us">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton">Adventures</button>
                <div class="dropContent">
                    <a href="/continent/">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="/island-chains/">Search by Island Chain</a>
                </div>
            </div>
            | <a href="/#spotlightTrip">Spotlight Trip</a> |
            <a href="/#contactUsForm">Contact</a>
        </div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText"><span id="jacEntFontBoldSmall">JAC Enterprises</span>
            <br>Search for Your Destination
            </br>by Waterway
        </div>
    </div>
    <div id="allBodiesOfWaterInformation">
        <div id="allBodiesOfWaterMap">
            <iframe
                    src="https://api.mapbox.com/styles/v1/missmadisonrose/ckxpgq7sq0iqt14piwva3j92k.html?title=false&access_token=pk.eyJ1IjoibWlzc21hZGlzb25yb3NlIiwiYSI6ImNreHBmd2JpZjd0ZGwydXEzMTZrMThjcXQifQ.Ubq6kw0wIFtQMKZunE0gyg&zoomwheel=false#0.62/30.3/-27.5"
                    title="Monochrome">
            </iframe>
        </div>
        <div id="allBodiesOfWaterOnTerraFirma">
            <div id="listOfBodiesOfWaterOnTerraFirma">
                <h1>Water Region</h1>
                <ol>
                    <li th:each="waterBodies:${waterBodies}">
                        <a class="water-body-list-link" th:href="@{'/water-body/'+ ${waterBodies.id}}"
                           th:text="${waterBodies.waterBodyName}">List Coming Soon!</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>

</html>