<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
<!--<h1 th:text="${waterBodies.bodyOfWaterName}">Bodies of Water</h1>-->

<!--<h2 th:each="campus:${waterBodies}">-->
</h2>

</body>

</html>