<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/generalTemplateStylesheet.css">
    <title>Country Template</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">Call toll-free <a href="">1-888-555-5555</a> or <a href="">CONTACT US</a></div>
    </div>
    <nav>
        <div id="nav"><a href="">Home</a> | <a href="">About Us</a> | <a href="">Adventures</a> | <a
                href="">Contact</a></div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText"><span id="jacEntFontLightSmall">JAC Enterprises</span><br>
            <h1 th:text="${country.countryName}">Location</h1>
        </div>
    </div>
    <div id="countryInformation">
        <div id="countryMap">
            <iframe
                    th:src="${country.countryMapUrl}"
                    title="Monochrome">
            </iframe>
        </div>
        <div id="countrySummary">
            <p th:text="${country.countryDescription}">Country description coming soon!</p>

        </div>
    </div>
    <div id="islandsInCountry">
        <div id="listOfIslandChains">
            <ul>
                <li class="country-list-links__country" th:each="islandChain:${country.islandChains}">
                    <a class="country-list-link" th:href="@{'/island-chains/'+ ${islandChain.id}}"
                       th:text="${islandChain.islandName}">List Coming Soon!</a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>

</html>