<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/stylesheets/stylesheet.css">
    <title>JAC Enterprises Island Hopping Adventures</title>
</head>

<body>
    <div class="wrapper">
        <div id="contactBarBackground">
            <div id="contactBar">Call toll-free <a href="">1-888-555-5555</a> or <a href="">CONTACT US</a> </div>
        </div>
        <nav>
            <div id="nav"><a href="">Home</a> | <a href="">About Us</a> | <a href="#highlightedAdventure">Highlighted Adventure</a> | <a
                    href="#contactUsForm">Contact</a></div>
                   
        </nav>
        <div id="bannerImage">
            <div id="bannerText"><span id="jacEntFontLightSmall">JAC Enterprises</span><br>Island Hopping Adventures
            </div>
        </div>
        <div id="highlightedAdventure">Highlighted Adventure</div>
        <div id="clientReviews">Client Reviews</div>
        <div id="contactUsForm">Contact Us Form</div>
        <footer>
            <div id="footer">JAC Enterprises &copy; 2021</div>
        </footer>
    </div>
</body>

</html>