<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/stylesheets/homepageStylesheet.css"/>
    <title>JAC Enterprises Island Hopping Adventures</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">
            Call toll-free <a href="tel:18885555555">1-888-555-5555</a> or
            <a href="/#contactUsForm">CONTACT US</a>
        </div>
    </div>
    <nav>
        <div id="nav">
            <a href="/">Home</a> | <a href="/about-us">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton">Adventures</button>
                <div class="dropContent">
                    <a href="/continent/">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="/island-chains/">Search by Island Chain</a>
                </div>
            </div>
            | <a href="/#spotlightTrip">Spotlight Trip</a> |
            <a href="/#contactUsForm">Contact</a>
        </div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText">
            <span id="jacEntFontBoldSmall">JAC Enterprises</span><br/>Island Hopping Adventures
        </div>
    </div>
    <div id="spotlightTrip">
        <div id="spotlightTripImage"></div>
        <div id="spotlightTripText">
            <h2>Featured Adventure</h2>
            <div id="centerCapBoldText"><a href="/island-chains/">Bass Islands</a>, <a href="/water-body/">Lake Erie</a>,
                <a href="/country/">Canada</a></div>
            <p>
                The 20-somethings can have downtown Put-in-Bay, with its tiki bars and pool party bacchanalia. Families
                can claim the rest of South Bass Island as an idyllic summer adventure. The most populated of Ohio’s
                Lake Erie Islands, South Bass is a sundae of Americana, with a cherry on top. We’re talking three
                generations sharing a golf cart. Ice cream cones melting faster than kids can lick. Taped-together boxes
                of board games on the cottage porch and bikes everywhere.
            </p>

            <p>
                Be prepared to be surprised by the island’s innocence, given its boozy reputation. You can even visit
                Kelleys Island. Both packed with family-friendly activities to do! Know this: Put-in-Bay is not a beach
                town. There’s no real good beach; even the state park beach is a swath of big stones. But water, and
                nostalgia imbues the air on the island. You can rent kayaks, stand-up paddleboards or jet skis. You can
                camp in the state park, drink at the wineries, tour caves, fish, hike or just watch the boats in the
                harbor. The pace is relaxed, maybe because everyone putters around on bikes or in golf carts. How can
                you hurry anywhere in a golf cart? So take your kids to Put-in-Bay. Stay, if you can, at a cottage far
                from the downtown bar scene. And go early in the season. After July 4, tourists overrun the island,
                especially for Christmas in July. A look at our trip, what to do and where to go on your Lake Erie
                island vacation.
            </p>
        </div>
    </div>
    <div id="islandHoppingBkgdClr">
        <div id="islandHoppingMargin">
            <div id="islandHopping">
                <div id="whatIsIslandHoppingText">
                    <h2>What is Island Hopping?</h2>
                    <p>
                        Island hopping, also known as leapfrogging, originalally was a
                        military strategy employed by the Allies in the Pacific War
                        against the Empire of Japan during World War II. In terms of
                        travel today, it means to travel from one island to another,
                        especially as a tourist in an area of small islands.
                    </p>
                </div>
                <div id="islandHoppingImage"></div>
            </div>
        </div>
    </div>
    <div id="contactUsForm">
        <h2>Contact Us Form</h2><br>
        <h3>A representative will be in touch after submission.</h3><br>
        <form>
            <table>
                <colgroup>
                    <col span="2">
                </colgroup>
                <tr>
                    <td><label class="rightGap" for="fName">First Name: </label></td>
                    <td><label class="leftGap" for="lName">Last Name: </label></td>
                </tr>
                <tr>
                    <td><input class="rightGap" type="text" id="fName" name="fName"/></td>
                    <td><input class="leftGap" type="text" id="lName" name="lName"/></td>
                </tr>
                <tr>
                    <td><label class="rightGap" for="phone">Phone Number: </label></td>
                    <td><label class="leftGap" for="email">Email Address: </label></td>
                </tr>
                <tr>
                    <td><input class="rightGap" type="text" id="phone" name="phone"/>
                    <td><input class="leftGap" type="text" id="email" name="email"/>
                </tr>
            </table>
            <label class="help">How can we help you?</label><br>
            <textarea></textarea><br>
            <button class="submitButton" type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>
</html>
