<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/islandChainStylesheet.css">
    <title>JAC Enterprises Island Hopping Adventures</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">
            Call toll-free <a href="tel:18885555555">1-888-555-5555</a> or
            <a href="/#contactUsForm">CONTACT US</a>
        </div>
    </div>
    <nav>
        <div id="nav">
            <a href="/">Home</a> | <a href="/about-us">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton">Adventures</button>
                <div class="dropContent">
                    <a href="/continent/">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="/island-chains/">Search by Island Chain</a>
                </div>
            </div>
            | <a href="/#spotlightTrip">Spotlight Trip</a> |
            <a href="/#contactUsForm">Contact</a>
        </div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText">
            <span id="jacEntFontBoldSmall">JAC Enterprises</span>
            <br th:text="${islandChain.islandName}">
        </div>
    </div>
    <div id="highlightedAdventure">
        <div id="adventureImage"></div>
        <div id="adventureDescription">
            <p th:text="${islandChain.adventureSummary}">Summary Coming Soon!</p>
        </div>
    </div>
    <div id="locationOnMap">
        <div id="itinerary">
            <h3>Itinerary</h3>
            <ol>
                <li>Day 1:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day1}">Day 1:</text>
                </li>
                <li>Activities:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day1Activities}">Day 1
                        Activity:
                    </text>
                </li>
                <li>Day 2:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day2}">Day 2:</text>
                </li>
                <li>Activities:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day2Activities}">Day 2
                        Activity:
                    </text>
                </li>
                <li>Day 3:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day3}">Day 3:</text>
                </li>
                <li>Activities:
                    <text th:each="islandChain:${islandChain}" th:text="${islandChain.itinerary.day3Activities}">Day 3
                        Activity:
                    </text>
                </li>
            </ol>
        </div>
        <div id="map">
            <iframe
                    src="https://api.mapbox.com/styles/v1/missmadisonrose/ckxpgq7sq0iqt14piwva3j92k.html?title=false&access_token=pk.eyJ1IjoibWlzc21hZGlzb25yb3NlIiwiYSI6ImNreHBmd2JpZjd0ZGwydXEzMTZrMThjcXQifQ.Ubq6kw0wIFtQMKZunE0gyg&zoomwheel=false#5.53/21.039/-157.84"
                    title="Monochrome"></iframe>
        </div>
    </div>
    <div id="whatToPack">
        <div id="packingList">
            <h3>What to Pack</h3>
            <ol>
                <li th:each="islandChain:${islandChain}" th:text="${islandChain.packList.item1}">Sunscreen</li>
                <li th:each="islandChain:${islandChain}" th:text="${islandChain.packList.item2}">Waterproof Phone Case
                </li>
                <li th:each="islandChain:${islandChain}" th:text="${islandChain.packList.item3}">Cooling Towel</li>
                <li th:each="islandChain:${islandChain}" th:text="${islandChain.packList.item4}">Waterproof Camera</li>
                <li th:each="islandChain:${islandChain}" th:text="${islandChain.packList.item5}">Swimsuit</li>
            </ol>
        </div>
        <div id="packingImage"></div>
    </div>
    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>

</html>