
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/generalTemplateStylesheet.css">
    <title>JAC Enterprises Island Hopping Adventures</title>
</head>

<body>
<div class="wrapper">
    <div id="contactBarBackground">
        <div id="contactBar">
            Call toll-free <a href="tel:18885555555">1-888-555-5555</a> or
            <a href="/#contactUsForm">CONTACT US</a>
        </div>
    </div>
    <nav>
        <div id="nav">
            <a href="/">Home</a> | <a href="/about-us">About Us</a> |
            <div class="dropWrapper">
                <button class="dropButton">Adventures</button>
                <div class="dropContent">
                    <a href="/continent/">Search by Continent</a>
                    <a href="/country/">Search by Country</a>
                    <a href="/water-body/">Search by Body of Water</a>
                    <a href="/island-chains/">Search by Island Chain</a>
                </div>
            </div>
            | <a href="/#spotlightTrip">Spotlight Trip</a> |
            <a href="/#contactUsForm">Contact</a>
        </div>
    </nav>
    <div id="bannerImage">
        <div id="bannerText"><span id="jacEntFontLightSmall">JAC Enterprises</span><br>
            <h1 th:text="${waterBody.waterBodyName}">Location</h1>
        </div>
    </div>
    <div id="waterBodyInformation">
        <div id="waterBodyMap">
            <iframe
                    th:src="${waterBody.waterBodyMapUrl}"
                    title="Monochrome">
            </iframe>
        </div>
        <div id="waterBodySummary">
            <p th:text="${waterBody.waterBodyDescription}"></p>
        </div>
    </div>
    <div id="islandsInWaterBody">
        <div id="listOfIslandChains">
            <ul>
                <li class="water-body-list-links__water-body" th:each="islandChain:${waterBody.islandChains}">
                    <a class="water-body-list-link" th:href="@{'/island-chains/'+ ${islandChain.id}}"
                       th:text="${islandChain.islandName}">List Coming Soon!</a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div id="footer">JAC Enterprises &copy; 2021</div>
    </footer>
</div>
</body>

</html>